<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Soccer</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body onload="onLoad()">
  <h2>Soccer</h2>
  <div class="display_inline_block t_center">
    <table>
      <tr>
        <td>
          <a class="button bordered" href="/soccer">Soccer</a>
        </td>
      </tr>
    </table>
  </div>
  <hr>
  {{{body}}}
  <hr>
  <small class="small error" id="errorMessage">&nbsp;</small><br>
  <hr>
  {{> includes/footer }}
</body>

</html>
