<table class="t_center align_top display_inline_block">
  <tr>
    <td colspan="3" id="soccer" class="align_top">
    </td>
  </tr>
  <tr>
    <td class="align_top">
      <button id="red-arrow-left" onclick="return moveLeft('red')">
        <img src="feathericons/arrow-left.svg" />
      </button>
      <button id="red-thumbs-up" onclick="return moveUp('red')">
        <img src="feathericons/thumbs-up.svg" />
      </button>
      <button id="red-thumbs-down" onclick="return moveDown('red')">
        <img src="feathericons/thumbs-down.svg" />
      </button>
      <button id="red-arrow-right" onclick="return moveRight('red')">
        <img src="feathericons/arrow-right.svg" />
      </button>
    </td>
    <td class="align_top">
      <h1>Score: 0 to 0</h1>
    </td>
    <td class="align_top">
      <button id="white-arrow-left" onclick="return moveLeft('white')">
        <img src="feathericons/arrow-left.svg" />
      </button>
      <button id="white-thumbs-up" onclick="return moveUp('white')">
        <img src="feathericons/thumbs-up.svg" />
      </button>
      <button id="white-thumbs-down" onclick="return moveDown('white')">
        <img src="feathericons/thumbs-down.svg" />
      </button>
      <button id="white-arrow-right" onclick="return moveRight('white')">
        <img src="feathericons/arrow-right.svg" />
      </button>
    </td>
  </tr>
</table>

<script src="js/views/soccer.js"></script>
