<table class="t_center align_top display_inline_block">
  <tr>
    <td id="soccer" class="align_top">
    </td>
  </tr>
  <tr>
    <td class="align_top">
      <button id="arrow-left" onclick="return moveLeft()">
        <img src="feathericons/arrow-left.svg" />
      </button>
      <button id="thumbs-up">
        <img src="feathericons/thumbs-up.svg" />
      </button>
      <button id="arrow-right" onclick="return moveRight()">
        <img src="feathericons/arrow-right.svg" />
      </button>
    </td>
  </tr>
</table>

<script src="js/views/soccer.js"></script>
