<table class="t_center align_top display_inline_block">
  <tr>
    <td colspan="3" id="soccer" class="align_top">
    </td>
  </tr>
  <tr>
    <td class="align_top">
      <button id="arrow-left" onclick="return moveLeft()">
        <img src="feathericons/arrow-left.svg" />
      </button>
      <button id="thumbs-up" onclick="return moveUp()">
        <img src="feathericons/thumbs-up.svg" />
      </button>
      <button id="thumbs-down" onclick="return moveDown()">
        <img src="feathericons/thumbs-down.svg" />
      </button>
      <button id="arrow-right" onclick="return moveRight()">
        <img src="feathericons/arrow-right.svg" />
      </button>
    </td>
    <td class="align_top">
      <h1>Score: 0 to 0</h1>
    </td>
    <td class="align_top">
      <button id="arrow-left" onclick="return moveLeft()">
        <img src="feathericons/arrow-left.svg" />
      </button>
      <button id="thumbs-up" onclick="return moveUp()">
        <img src="feathericons/thumbs-up.svg" />
      </button>
      <button id="thumbs-down" onclick="return moveDown()">
        <img src="feathericons/thumbs-down.svg" />
      </button>
      <button id="arrow-right" onclick="return moveRight()">
        <img src="feathericons/arrow-right.svg" />
      </button>
    </td>
  </tr>
</table>

<script src="js/views/soccer.js"></script>
